<div id="bigquote">
What if your<br>
new best friend<br>
was just<br>
one friend away?<br>
</div>
<div class="triplet_container">
	<div class="triplet">
		<h3>Join the graph.</h3>
		<p>Create an account and tell the graph who you are and what you appreciate.
			No pictures, nothing creepy, the graph loves everyone.</p>
	</div>
	<div class="triplet">
		<h3>Explore the graph.</h3>
		<p>The graph is a map of the social world surrounding you.  Click to jump from person to person and see how small the world really is.</p>
	</div>
	<div class="triplet">
		<h3>Use the graph.</h3>
		<p>Bigger nodes = people you share common interests with.  The graph shows you how you connect so you know who should introduce you.</p>
	</div>
</div>
<div class="guide_header">
Your guide to the graph
</div>
<div class="twin_container">
	<div class="twin">
		<h3>Key knowledge:</h3>
		<p>This is a "social graph" in which people are nodes and lines represent connections between them.
			The size of a nade corresponds to how many things you share a common appreciation for. 
		</p>
		<br>
		<br>
		<h3>Questions:</h3>
		<h5>Why don't you connect to Facebook?</h5>
		<p>On Facebook you have a lot of friends, probably hundreds.  For the 6 Away graph we wanted to keep
			connections few and personal.  If you can't think of them off the top of your head don't worry about
			included them.  Connections should average around 20 people.</p>
		<br>
		<h5>What's the story?</h5>
		<p>There are lots of opportunities to meet people, but you don't stay friends with most of people you meet.
		   We believe the the secret to meeting a friend who you can stay friends with is connections.  A friend of a
		   friend is likely to live near you and be someone you have a high probabilty of seeing again - because your
		   friends already do.  6 Away helps this happen.</p>
	</div>
	<div class="twin">
		<h3>Interactions:</h3>
		<p>This is a "social graph" in which people are nodes and lines represent connections between them.
			The size of a nade corresponds to how many things you share a common appreciation for. 
		</p>
	</div>
</div>

