// Place all the styles related to the graph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart {
  max-width: 960px;
	width: 100%;
	height: 400px;
	background: #EEE;
}

.hr {
	border-top: 2px solid #333;
	width: 100%;
}
circle.node {
  cursor: pointer;
  //stroke: #3182bd;
  stroke-width: 0px;
}
rect.node {
  cursor: pointer;
  //stroke: #3182bd;
  stroke-width: 0px;
}
g.node {
  cursor: pointer;
}

line.link {
  fill: none;
  stroke: #AAA;
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  font: 12px sans-serif;
  font-weight: 900;
}

#profile_container {
  width: 100%;
  margin-left: 100px;
}
