// Place all the styles related to the graph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart {
	width: 960px;
	height: 400px;
	background: #EEE;
}

.hr {
	border-top: 2px solid #333;
	width: 100%;
}
circle.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}
rect.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}
g.node {
  cursor: pointer;
}

line.link {
  fill: none;
  stroke: #888;
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  font: 12px sans-serif;
}
